body{
width: 260px;
font-size:16px;
background-color:#9ad717;
}

h1{
  font-family: "Arial", sans-serif;
  font-size: 20px;
}

li{
  list-style:square;
}

p{
  font-family:sans-serif;
  font-size: 10px;
}
